/* Tekst */
.dbb {
    letter-spacing: -0.03em !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: relative;
    top: 1em;
}
.glow {
    font-size: 80px;
    text-align: center;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

.overonsblok
{
    position: relative;
    top: 5em;
}

.homegames
{
    position: relative;
    top: 6em;
    display: flex;
    justify-content: space-evenly;
}

.homegamesbutton
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homegamesimgmc
{
    aspect-ratio: 128/232;
}

.homegamesimgpong
{
    aspect-ratio: 800/600;
}
  
  @keyframes glow {
    from {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    to {
      text-shadow: 0 0 20px #000000, 0 0 30px #000000, 0 0 40px var(--green), 0 0 50px var(--green), 0 0 60px var(--green), 0 0 70px var(--green), 0 0 80px var(--green);
    }
}

/* Mobiele schermen */
@media screen and (max-width: 992px) {
    #logobanner {
        display: none;
    }
}