:root {
    --maincolor: #76C2AF;
    --subcolor: #65A192;
}
/* Main content */
html, body {
    background-color: var(--maincolor);
    height: 100%;
}

/* Tekst */
.h1-groot {
    font-size: 72px !important;
    line-height: 76px !important;
    font-weight: 800 !important;
}
/* Kleuren */
.oranje {
    color: rgb(255, 145, 0);
}

/* Navbar */
.navbar-nav {
    justify-content: center;
}
@media screen and (max-width: 992px) {
    #logobanner {
        display: none;
    }
}
@media screen and (min-width: 992px) {
    #homelink {
        display: none;
    }
}
#logobanner {
    height: auto;
    width: 20%;
}
.navbar {
    background-color: var(--subcolor);
}